{% extends "@layout/admin-layout.twig" %}
{% block content %}
    <div class="p-3 bg-light card shadow-sm" style="min-height: 65vh">
        <div class="import-btn-group d-flex align-items-center flex-wrap">
            <button data-load="data-tables"
                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseOverviewFBSite"
                    aria-expanded="false" aria-controls="collapseOverviewFBSite"
                    class="btn-collapse-toggle btn btn-blue-outline btn-sm me-1 my-2 active" disabled>
                <i class="bi bi-list-task me-1"></i>
                {{ l.all_imported_content }}
            </button>
            <button data-load="ajax-form"
                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseAddFBSite"
                    aria-expanded="true" aria-controls="collapseAddFBSite"
                    class="btn-collapse-toggle btn btn-blue-outline btn-sm my-2">
                <i class="bi bi-plus-circle me-1"></i>{{ l.Import_new_content }}
            </button>
            <button data-load="log-table"
                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseCronJobTable"
                    aria-expanded="true" aria-controls="collapseCronJobTable"
                    class="btn-collapse-toggle btn btn-blue-outline ms-auto btn-sm my-2">
                <i class="bi bi-card-list me-1"></i>{{ l.btn_cronjob_log }}
            </button>
        </div>
        <hr>
        <div id="displayDataParent">
            <div class="collapse show position-relative" id="collapseOverviewFBSite" data-bs-parent="#displayDataParent">

                <div id="TableWrapper" class="table-responsive-xxl">
                    <table id="TableImports" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>{{ tl.Designation }}</th>
                            <th>{{ l.aktiv }}</th>
                            <th class="text-nowrap">{{ tl.Max_Import }}</th>
                            <th>{{ tl.User_ID }}</th>
                            <th>{{ tl.Page_ID }}</th>
                            <th class="text-nowrap">{{ tl.User_active }} <sup class="small text-muted">( 1 )</sup></th>
                            <th class="text-nowrap">{{ tl.Post_Category }}</th>
                            <th class="text-nowrap">{{ tl.Event_Category }}</th>
                            <th>{{ tl.Edit }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="my-3">
                    <small class="small text-muted">1<sup>*</sup> {{ l.user_id_help }}</small>
                </div>
            </div><!--collapse-->

            <div class="collapse" id="collapseCronJobTable" data-bs-parent="#displayDataParent">
                <div id="TableWrapper" class="table-responsive-xxl">
                    <table id="TableCronJob" class="table table-bordered w-100 table-striped">
                        <thead>
                        <tr>
                            <th>{{ tl.Import }}</th>
                            <th class="text-nowrap">{{ tl.Post_Category }}</th>
                            <th class="text-nowrap">{{ tl.Start_Post }}</th>
                            <th class="text-nowrap">{{ tl.End_Post }}</th>
                            <th class="text-nowrap">{{ tl.Post_Status }}</th>
                            <th class="text-nowrap">{{ tl.Post_Count }}</th>
                            <th class="text-nowrap">{{ tl.Event_Category }}</th>
                            <th class="text-nowrap">{{ tl.Start_Event }}</th>
                            <th class="text-nowrap">{{ tl.End_Event }}</th>
                            <th class="text-nowrap">{{ tl.Event_Status }}</th>
                            <th class="text-nowrap">{{ tl.Event_Count }}</th>
                            <th>{{ tl.delete }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="my-3">
                    <hr>
                    <div class="d-flex flex-wrap">
                    <button data-type="log-aktualisieren" data-id="0" class="btn-form-action btn btn-blue-outline me-1">
                        <i class="bi-spin-slow bi bi-bootstrap-reboot me-1"></i>Aktualisieren </button>
                    <button data-type="all-log" data-id="0" class="btn-delete-log btn btn-outline-danger ms-xl-auto">
                        <i class="bi bi-trash me-1"></i>Alle Einträge löschen </button>
                    </div>
                </div>
                <small class="d-block small {% if not s.cron_aktiv %}d-none{% endif %}">
                    <i class="text-success bi bi-clock-history me-1"></i> {{ l.next_update }}
                    <span id="nextSyncTime"></span>
                </small>
            </div>
            <div class="collapse" id="collapseEditFBSite" data-bs-parent="#displayDataParent"></div>
            <div class="collapse" id="collapseAddFBSite" data-bs-parent="#displayDataParent">
                {{ include('@widget/import-formular.twig') }}
            </div><!--collapse-->
        </div><!--parent-->
    </div>

    <div class="modal fade" id="AjaxErrorLogModal" tabindex="-1" aria-labelledby="AjaxErrorLogModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title text-light" id="AjaxErrorLogModalTitle">
                        <i class="bi bi-facebook me-1"></i> {{ l.import_error }}
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light text-body border" data-bs-dismiss="modal">
                        <i class="text-danger bi bi-x-lg me-1"></i> {{ l.Close }}</button>
                </div>
            </div>
        </div>
    </div>
    {{ include('@widget/add-kategorie-modal.twig') }}
{% endblock %}
{% block title %}{{ l.site_page_headline }}{% endblock %}
{% block subtitle %}{{ l.site_page_subline }}{% endblock %}
